@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EAEAE8;
  --background-alt: #FFFFFF;
  --foreground: #111111;
  --accent: #111111;
  --danger: #E4574C;
  --muted: #666666;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
