@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D7E2EA;
  --background-alt: #EFF3F6;
  --foreground: #17242F;
  --accent: #C9E44C;
  --danger: #E4574C;
  --muted: #6B7A87;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
